<h2>Welcome to quoting dojoojjooj</h2>

<form action="add_quote" method="post">
    <table>
        <tr>
            <td><p>Name:</p></td>
            <td><input type="text" value="" name="user_name"></td> 
        </tr>
        <tr>
            <td><p>Your Quote:</p></td>
            <td><textarea rows=8 cols=40 name="quote"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="Submit Quote">
    <a href="quotes"> Or just skip ahead..</a>
</form>